body {
    background-color: #f4f7f7;
}

.py-common{
    padding: 50px 0;
}
.home-page .job-container .title-page,
.home-page .job-container .subtitle-page {
    text-align: center;
}

.home-page .job-container .subtitle-page {
    margin-bottom: 40px
}
.home-page .job-container .subtitle-page,
.home-page .job-container .col-content {
    color: #656565;
    font-size: 14px;
}
.home-page .job-container .col-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 42px 40px 41px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-page .job-container .col-content .price {
    color: #eb0101;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500
}
.home-page .job-container .col-content .btn-showmore {
    background-color: #03a84e;
    border: 1px solid #03a84e;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 4px 28px 4px;
    text-align: center;
}

.home-page .housekeeper-container{
    background: #FFFFFF;
}

.home-page .housekeeper-container .title-page,
.home-page .housekeeper-container .subtitle-page {
    text-align: center;
}

.home-page .housekeeper-container .subtitle-page {
    margin-bottom: 40px
}

.home-page .housekeeper-container .subtitle-page,
.home-page .housekeeper-container .col-job {
    color: #656565;
    font-size: 14px;
}
.home-page .housekeeper-container .col-content {
    background-color: #f4f7f7;
    border: 1px solid #f4f7f7;
    border-radius: 5px;
    padding: 42px 40px 41px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 12px;
}

.home-page .housekeeper-container .col-content:hover {
    background-color: #fff;
}

.home-page .housekeeper-container .col-content p {
    color: #03a84e;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 18px;
}

.home-page .housekeeper-container .col-content .btn-showmore {
    background-color: #fff;
    border: 1px solid rgba(3, 168, 78, 0.18);
    color: #03a84e;
    padding: 8px 12px;
    border-radius: 5px;
}


.home-page .post-container .col-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 47px 48px 45px;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer
}
.home-page .post-container .col-content:hover{
    background-color: #03a84e;
}

.home-page .post-container .col-content:hover .des p,
.home-page .post-container .col-content:hover h5,
.home-page .post-container .col-content:hover p
{
    color: #FFFFFF !important;
}

.home-page .post-container .title-page,
.home-page .post-container .subtitle-page {
    text-align: center;
}

.home-page .post-container .subtitle-page {
    margin-bottom: 40px
}

.home-page .post-container .subtitle-page,
.home-page .post-container .col-content {
    color: #656565;
    font-size: 14px;
}

.home-page .post-container .col-content p {
    color: #03a84e;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 18px;
}

.home-page .post-container .col-content .des {
    color: #656565;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
}