@{
    ViewData["Title"] = "Home Page";
}
<form action="/home/Login" method="post">
    <input name="email" type="email" class="col-11 mx-auto" placeholder="E-mail" required minlength="10" maxlength="50">
    <div class="emailError col-11 mx-auto "></div>
    <input name="password" type="password" class="pass col-11 mx-auto" placeholder="Password" required minlength="6" maxlength="30">
    <div class="passError col-11 mx-auto "></div>
    @if (ViewBag.token != null)
    {
        <div>@ViewBag.token</div>
    }
    <div></div>
    <input type="submit"  value="Login" class="col-11 mx-auto" />
    <button  id="btnGetAll" data-token="@ViewBag.token" value="Login" class="col-11 mx-auto">Getall</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const btnGetAll = document.getElementById('btnGetAll');
    btnGetAll.addEventListener('click',(e)=>{
        e.preventDefault();
        var token = btnGetAll.getAttribute('data-token');
        
        $.ajax({
            url: 'https://localhost:7126/home/AccountList', // Thay đổi URL theo đường dẫn thực tế của bạn
            type: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token
            },
            success: function (response) {
                console.log(response);
            },
            error: function (xhr, status, error) {
                console.error("Error: " + xhr.status + " - " + error);
            }
        });
    })
</script>