<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C03_HeThongTimGiupViec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/C03_HeThongTimGiupViec.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom-bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light position-fixed w-100">
            <div class="container bg-white px-3 py-2 box-shadow">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HeThongTimGiupViec</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/" class="nav-link text-dark text active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/service/ListService" class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="Privacy">Service</a>
                        </li>
                        <li class="nav-item">
                            <a href="/post/ListPost" class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Privacy">Post</a>
                        </li>
                    </ul>
                    <a href="/account/login" class="btn btn-outline-success text-white" type="submit">Login</a>
                </div>
            </div>
        </nav>
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex flex-column justify-content-center gap-4 h-100 px-5">
                            <h1 class="text-white">We have jobs that match what you want</h1>
                            <p class="text-white">You can find the best jobs here</p>
                            <div class="d-flex">
                                <a href="/service/ListService" class="explore">Explore now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 py-4">
                        <img src="~/images/home-8-banner-1.png" class="w-100 h-100" style="object-fit:cover" />
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="footer">

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - C03_HeThongTimGiupViec - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
