@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="job-detail-container bg-white">
    <div class="container py-common d-flex flex-column gap-4">
        <div class="d-flex justify-content-between gap-2 info-header">
            <div class="d-flex flex-column gap-2">
                <h4>Tìm người giúp việc</h4>
                <p>Address: Hà Đông, Hà Nội</p>
                <p>Phone number: 0944236243</p> 
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a href="/service/DetailService" class="btn-showmore">Apply now</a>
            </div>
        </div>
    </div>
</div>
