@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="job-container bg-white">
    <div class="container py-common d-flex flex-column gap-5">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search by name..." aria-label="Search">
            <input class="form-control me-2" type="search" placeholder="Search by address..." aria-label="Search">
            <button class="btn btn-outline-success" type="button">Search</button>
        </form>
        <div class="row gx-4 gy-4">
            <div class="col-4">
                <div class="col-content">
                    <div class="">
                        <h4>Tìm người giúp việc</h4>
                        <p>Address: Hà Đông, Hà Nội</p>
                    </div>
                    <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/service/DetailService" class="btn-showmore">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-content">
                    <div class="">
                        <h4>Tìm người giúp việc</h4>
                        <p>Address: Hà Đông, Hà Nội</p>
                    </div>
                    <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/service/DetailService" class="btn-showmore">View more</a>
                    </div>
                </div>
            </div>
                        <div class="col-4">
                <div class="col-content">
                    <div class="">
                        <h4>Tìm người giúp việc</h4>
                        <p>Address: Hà Đông, Hà Nội</p>
                    </div>
                    <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/service/DetailService" class="btn-showmore">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-content">
                    <div class="">
                        <h4>Tìm người giúp việc</h4>
                        <p>Address: Hà Đông, Hà Nội</p>
                    </div>
                    <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/service/DetailService" class="btn-showmore">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-content">
                    <div class="">
                        <h4>Tìm người giúp việc</h4>
                        <p>Address: Hà Đông, Hà Nội</p>
                    </div>
                    <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/service/DetailService" class="btn-showmore">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-content">
                    <div class="">
                        <h4>Tìm người giúp việc</h4>
                        <p>Address: Hà Đông, Hà Nội</p>
                    </div>
                    <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/service/DetailService" class="btn-showmore">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>