@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/style1.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<form action="/account/login" method="post" class="login-page d-flex justify-content-center">
    <div class="login-body">
        <div class="login-title">Sign In</div>
        <div class="input-form">
            <input type="text" placeholder="Email" name="email"/>
        </div>
        <div class="input-form">
            <input type="password" placeholder="Password" name="password"/>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <div class="login-remember">
                <input class="login-checkbox" type="checkbox">Remember me
            </div>
            <div class="forgot-pass">
                Forgot Password?
            </div>
        </div>
        <div class="login-submit">
            <input type="submit" value="Sign In" />
        </div>
        <div class="text-center">Don't you have an account? <a href="/account/register" class="register-link">Register</a></div>
    </div>
</form>