@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/style1.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<form action="/account/register" method="post" class="login-page d-flex justify-content-center">
    <div class="login-body">
        <div class="login-title">Register</div>
        <div class="d-flex justify-content-center">
            <div class="role-btn active" onclick="activeBtn(this,2)">
                <i class="fa-solid fa-hand-sparkles"></i>
                <span>Host</span>
            </div>
            <div class="role-btn" onclick="activeBtn(this,3)">
                <i class="fa-solid fa-house-chimney-user"></i>
                <span>Housemaid</span>
            </div>
        </div>
        <input id="role-input" type="text" name="role" hidden value="2">
        <div class="input-form">
            <input type="text" placeholder="Email" name="email" required/>
        </div>
        <div class="input-form">
            <input type="text" placeholder="UserName" name="username" required />
        </div>
        <div class="input-form">
            <input type="text" placeholder="FullName" name="fullname" required />
        </div>
        <div class="input-form">
            <input type="text" placeholder="Address" name="address" required />
        </div>
        <div class="input-form">
            <input class="pass" type="password" placeholder="Password" name="password" required />
        </div>
        <div class="input-form">
            <input class="re-pass" type="password" placeholder="Confirm password" required />
        </div>
        <div class="login-submit">
            <input class="submitBtn" type="button" value="Register now"  required/>
        </div>
        <div class="message-text text-danger text-center">@(ViewBag.Message != null ? ViewBag.Message : "")</div>
        <div class="text-center">Already have an account? <a href="/account/login" class="register-link">Login</a></div>
    </div>
</form>

<script>
    const form = document.querySelector('.login-page');
    const roleBtns = document.querySelectorAll('.role-btn');
    const submitBtn = document.querySelector('.submitBtn');
    const pass = document.querySelector('.pass');
    const rePass = document.querySelector('.re-pass');
    const message = document.querySelector('.message-text');
    const roleInput = document.getElementById('role-input');

    function activeBtn(element, roleId) {
        roleBtns.forEach(btn => {
            if (btn.classList.contains('active')) {
                btn.classList.remove('active');
            }
        })
        console.log(this);
        element.classList.add('active');
        roleInput.value = roleId;
    }

    submitBtn.addEventListener('click',()=>{
        if(rePass.value !== pass.value){
            message.textContent = 'Confirm password is mismatch.';
            message.classList.remove('d-none');
        }
        else{
            form.submit();
        }
    })
</script>