@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using C03_HeThongTimGiupViec.Models;
@model Post

<div class="post-detail-container bg-white">
    <div class="container py-common d-flex flex-column gap-4">
        <div class="d-flex justify-content-center gap-2">
            <p>
                @Model.Account.FullName
            </p>
            <p>-</p>
            <p>
                @Model.PostDate
            </p>
        </div>
        <h2 >
            @Model.Description
        </h2>
        <div>
            <img src="~/Images/@Model.Account.ProfilePicture" alt="" />
        </div>
    </div>
</div>
